footer{
  background-color: #b6a1a1;
  color: white;
}
.foot{
  display: flex;
  justify-content: space-around;
  padding: 32px 32px;
}

input{
   background-color: #fff;
   pad: 4px;
   border: none;
  height: 50px;
  width: auto;
  border-radius: 5px;
}
.news h2{
  color: white;
}
button{
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
}

h3{
  display: flex;
  justify-content: center;
}